<div class="row column voting-rules">
  <% if voting_mode? %>
    <div class="row">
      <div class="columns medium-8 large-9">
        <button class="link m-bottom" data-open="cancel-voting">
          <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
          <%= t(".cancel_voting") %>
        </button>
      </div>
    </div>
  <% elsif budgets.count > 1 %>
    <div class="row">
      <div class="columns medium-8 large-9">
        <%= button_to(decidim_budgets.budgets_path, class: "link m-bottom", method: :get) do %>
          <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
          <%= t(".back_to_budgets") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>