<div class="budget__list--header">
  <div>
    <%= render partial: "addition_selector" %>
  </div>

  <div data-collection-sort-controls>
    <%= render partial: "order" %>
  </div>
</div>

<div class="<%= projects_container_class(@view_mode) %>">
  <%= render partial: "project", collection: projects, as: :project, locals: { card_size: card_size_for_view_mode(@view_mode) } %>
</div>

<%= decidim_paginate projects %>

