<% add_decidim_meta_tags(
     description: translated_attribute(budget.description),
     title: t("decidim.budgets.projects.projects_for", name: budget_title),
     url: budget_url(budget),
     resource: budget) %>

<%= append_javascript_pack_tag "decidim_budgets" %>
<%= append_stylesheet_pack_tag "decidim_budgets" %>

<%= render partial: "budget_summary", locals: { include_heading: true, project_item: false, responsive: true } %>
<%= cell("decidim/budgets/budget_information_modal", budget) %>

<% content_for :aside do %>
  <h1 class="h3 decorator"><%= t("decidim.budgets.projects.projects_for", name: budget_title) %></h1>
  <div class="order_progress_text">
    <%= render partial: "order_progress_text" %>
  </div>
  <%= render layout: "decidim/shared/filters", locals: { filter_sections: , search_variable: :search_text_cont, skip_to_id: "projects" } do %>
    <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>
  <% end %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <% if projects.any? %>
    <%= render partial: "exit_modal" %>
    <%= render partial: "budget_excess" %>
    <%= render partial: "budget_confirm" %>

    <%= cell("decidim/budgets/limit_announcement", budget) %>
    <div class="projects-index__container__header">
      <div class="flex items-center justify-between">
        <h2 class="h5 md:h3 decorator"><%= t '.title' %></h2>
        <div class="view-layout__links flex view_mode__links">
          <%= toggle_view_mode_link(@view_mode, "list", "List mode", params) %>
          <%= toggle_view_mode_link(@view_mode, "grid", "Grid mode", params) %>
        </div>
      </div>
    </div>
    <section id="projects" class="layout-main__section layout-main__heading">
      <%= render partial: "projects" %>
    </section>
  <% else %>
    <%= cell("decidim/announcement", t("empty", scope: "decidim.budgets.projects")) %>
  <% end %>
<% end %>
<% unless voting_finished? %>
  <div class="budget-summary__new-container">
    <%= render partial: "budget_summary", locals: { include_heading: true, project_item: false, responsive: false } %>
  </div>
<% end %>
