<%= render partial: "layouts/decidim/meta_tags_config" %>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="no-js">
  <head>
    <title><%= decidim_page_title %></title>
    <%= render partial: "layouts/decidim/head" %>
  </head>

  <body id="budget-booth-body" class="text-black text-md form-defaults<%= yield (:body_class) %>">
  <!--noindex--><!--googleoff: all-->
  <%= link_to t("skip_button", scope: "decidim.accessibility"), "#content", class: "layout-container__skip" %>
  <%= cell("decidim/data_consent", current_organization) %>
  <!--googleon: all--><!--/noindex-->
  <div class="layout-container">
    <header>
      <%= render partial: "layouts/decidim/budgets/voting_menubar" %>
    </header>
    <%= render "layouts/decidim/budgets/voting_wrapper" do %>
      <%= yield %>
    <% end %>

    <%= render partial: "layouts/decidim/timeout_modal" %>
    <%= render partial: "decidim/shared/confirm_modal" %>
    <%= render partial: "decidim/shared/login_modal" unless current_user %>
    <%= render partial: "decidim/shared/authorization_modal" %>
    <%= render partial: "decidim/shared/share_modal" %>
    <%= render partial: "layouts/decidim/decidim_javascript" %>
    <%= render partial: "layouts/decidim/data_consent_warning" %>
  </div>
  </body>
</html>
