<%= decidim_modal id: "thanks-message", data: { session: thanks_popup? } do %>
  <div data-dialog-container>
    <%= icon "delete-bin-line" %>
    <h2 data-dialog-title id="exit-voting-notification-label"><%= t(".title") %></h2>

    <div data-confirm-modal-content>
      <%= vote_success_content %>
    </div>
  </div>

  <div data-dialog-actions>
    <button class="button button__lg button__transparent-secondary" data-confirm-cancel data-dialog-close="thanks-message">
      <span><%= t("cancel", scope: "decidim.shared.confirm_modal") %></span>
    </button>
    <button class="button button__lg button__secondary" data-confirm-ok>
      <span><%= t".continue" %></span>
    </button>
  </div>
<% end %>


